<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <a href="/logout" class="btn btn-default btn-md" style="float:right;">Logout</a>

    <div class="page-header text-center">
        <h1>DashBoard</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
<!--        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>

                </p>

            </div>
        </div>-->

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-12 text-center">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook-square"></span>Facebook Information</h3>

                <p>
<!--                    <strong>ID</strong></strong>: <%= user.facebook.id %><br>-->
<!--                    <strong>Token</strong>: <%= user.facebook.token %><br>-->
                    <strong>Name</strong>: <%= user.facebook.name %><br>
                    <strong>Email</strong>: <%= user.facebook.email %><br>
<!--                    <strong>Gender</strong>: <%= user.facebook.gender %><br>-->
                </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>